* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "YuGothic";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/YuGoPr6N-R.otf")
}

@font-face {
  font-family: "YuGothic";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/YuGoPr6N-B.otf")
}

@font-face {
  font-family: "YuGothic";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/YuGoPr6N-D.otf")
}


body {
  background-color: #F5F3E8;
}


header {
  width: 100vw;
  border-bottom: 2px solid#595A63;
  background-image: url(/images/h-background.png);
  background-size: 100%;

}


.slider {
  padding-top: 196px;
  width: 100vw;
}

.slider img {
  width: 80%;
}


.h-banner{
  justify-content: space-between;
  height: 80px;
}

.h-banner-content {
  color: #595A63;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  font-size:15px;
}

.h-banner-content img{
  height: 15px;
  margin:35px 0;
}



.about-block {

  color: #595A63;
  margin: 150px auto;
  border: 2px solid #595A63;
  background-color: #fdfdfd;
  width: 60%;
  padding: 5% 0;

}





.about-content {
  margin: 0 auto;
  width: fit-content;
}



h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 3%;
  font-size: 7.5rem;
  font-weight: bold;
  line-height: 7.5rem;
  padding-bottom:20px;

}

.about h3 {
  font-family: "YuGothic", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  font-style: bold;
  letter-spacing: 3%;
  padding-top:20px;

}

.about p {
  font-family: "yu-gothic-pr6n", sans-serif;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.56px;
  line-height: 35px;
  padding-top:20px;
}

.navigation {
  display: none;
}




ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index {
  width: 100vw;
  margin: 0 auto;
}

.tabMenu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: flex-end;

}

.tabItem {
  height: 80px;
  width: 12.5%;
  border-left: 1px solid #ED4E01;
  border-right: 1px solid #ED4E01;
  border-top: 1px solid #ED4E01;
  border-radius: 30px 30px 0 0;
  color: #ED4E01;
  font-family: "yu-gothic-pr6n", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  font-size: 1vw;
  padding-top: 8px;
}

.tabItem:hover {
  background-color: #ED4E01;
}

a {
  color: #ED4E01;
  height: 80px;
  display: block;
}


a:hover {
  color: #F5F3E8;
}



.articles {
  width: 100%;
  color: #595A63;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #595A63;
}

.article {
  border-bottom: 1px solid #595A63;
  border-right: 1px solid #595A63;
  width: 50%;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}




.article-content {
  position: relative;
  padding: 150px 0;

}

.article img {
  width: 55%;
  margin: 0 auto;
  display: block;
}

.article-title {
  display: flex;
  flex-flow: column;
  align-items: end;
  position: absolute;
  left: 96px;
  bottom: 72px;
  

}

h4 {
  width: 300px;
  text-align: center;
  font-family: "YuGothic";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 3.5em;
  letter-spacing: 5px;
  background-color: #fdfdfd;
  border: 2px solid #595A63;
  border-radius: 20px 20px 0 20px;
}

h5 {
  font-family: "nimbus-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13.5px;
  letter-spacing: 0.66px;
  background-color: #fdfdfd;
  border-bottom: 2px solid #595A63;
  border-right: 2px solid #595A63;
  border-left: 2px solid #595A63;
  border-radius: 0 0 20px 20px;
  text-align: center;
  width: 100px;
  line-height: 40px;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 24px;
  letter-spacing: 0.66px;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 24px auto;
  padding: 0 50px;
}

.article-number {
  text-align: center;
  height: 72px;
  padding: 0px 50px 0 0;
  border-right: 1px solid #595A63;

}


.article-number p {
  font-family: "nimbus-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1.2px;
}

.data {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 72px;
  letter-spacing: 1.2px;
}

.category {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 72px;
  letter-spacing: 1.2px;
  padding: 0 0 0 50px;
  border-left: 1px solid #595A63;
}

.tabMenu2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;

}

.tabItem2 {
  height: 80px;
  width: 12.5%;
  border-left: 1px solid #ED4E01;
  border-right: 1px solid #ED4E01;
  border-bottom: 1px solid #ED4E01;
  border-radius: 0 0 30px 30px;
  color: #ED4E01;
  font-family: "yu-gothic-pr6n", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1vw;
  text-align: center;
  padding-top: 8px;
}

.tabItem2:hover {
  background-color: #ED4E01;
}

footer {
  margin-top: 200px;
}


.outer {
  position: relative;
  background-color: #ED4E01;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}



/* 黒文字 */
.black {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 10%;


  font-size: 90px;
  color: #ED4E01;
  z-index: -1;
}

/* 切り抜く窓の形 */
.white {
  position: relative;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

/* 白文字 */
.white::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: "gohoubi";
  white-space: pre;
  font-size: 90px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 10%;
  color: #F5F3E8;
  z-index: 1;
}


.white p {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F5F3E8;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.5rem;
}




@media screen and (max-width: 768px) {

  header{
    display: flex;
    justify-content: space-between;
    height: 1500px;
  }

  
  .h-banner{
      display: none;
    }

    
  

  .h-banner-content p{
    text-orientation: upright;
    color: #595A63;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    font-size: 12px;
    width: 1px;
    }

    .slider img {
      width: 50%;
      margin:50px auto;
      padding-bottom:50px;
    }




  .about-block {

    color: #595A63;
    margin: 50px auto;
    border: 2px solid #595A63;
    background-color: #fdfdfd;
    width: 70%;
    padding: 7% 0;

  }





  .about-content {
    margin: 0 auto;
    width: fit-content;
  }





  .about h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    font-size: 5rem;
    font-weight: bold;
    padding-bottom:15px;


  }

  .about h3 {
    font-family: "YuGothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    font-style: bold;
    letter-spacing: 3%;
    padding: 15px 0;

  }

  .about p {
    font-family: "yu-gothic-pr6n", sans-serif;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 0.56px;
    line-height: 35px;
    padding-bottom: 10px;


  }






  .index {
    display: none;
  }


  .navigation {
    display: block;
    margin:100px 0;
  }

  .tabItem {
    width: 300px;
    margin:10px auto;
    border: 1px solid #595A63;
    border-radius: 20px 20px  20px 0
    ;
    background-color: #fdfdfd;
  }

  ul,
  li {
    list-style: none;
  }

  a {
    color: #595A63;
    font-size: 15px;
  }


  a:hover {
    color: #F5F3E8;
  }

  .tabItem:hover {
    background-color: #ED4E01;
  }

  .articles {
    width: 100%;
    color: #595A63;
    border-top: 1px solid #595A63;
  }

  .article {
    border-bottom: 1px solid #595A63;
    border-right: 1px solid #595A63;
    border-left:1px solid #595A63;
    width: 100%;
  }



  .article-content {
    position: relative;
    padding: 150px 0;

  }

  .article-title {
    display: flex;
    flex-flow: column;
    align-items: end;
    position: absolute;
    left: 30%;
    bottom: 60px;

  }

  h4 {
    text-align: center;
    font-family: "YuGothic";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 64px;
    letter-spacing: 5px;
    background-color: #fdfdfd;
    border: 2px solid #595A63;
    border-radius: 20px 20px 0 20px;
  }

  h5 {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13.5px;
    letter-spacing: 0.66px;
    background-color: #fdfdfd;
    border-bottom: 2px solid #595A63;
    border-right: 2px solid #595A63;
    border-left: 2px solid #595A63;
    border-radius: 0 0 20px 20px;
    text-align: center;
    width: 81px;
    line-height: 32px;
  }

  h6 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 24px;
    letter-spacing: 0.66px;
  }

  

.info {
  display: flex;
  justify-content: space-between;
  padding:0 5%;
}

.article-number {
  height: 72px;
  padding: 0px 5% 0 0;
  border-right: 1px solid #595A63;

}
.category {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 72px;
  letter-spacing: 1.2px;
  padding: 0 0 0 5%;
  border-left: 1px solid #595A63;
}




  .tabMenu2 {
    display: none;
  }

  .tabItem2:hover {
    background-color: #ED4E01;
  }

  footer {
    margin-top: 200px;
  }
  .outer {
    position: relative;
    background-color: #ED4E01;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }

  /* 黒文字 */
  .black {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 10%;


    font-size: 90px;
    color: #ED4E01;
    z-index: -1;
  }

  /* 切り抜く窓の形 */
  .white {
    position: relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

  /* 白文字 */
  .white::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: "gohoubi";
    white-space: pre;
    font-size: 90px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 10%;
    color: #F5F3E8;
    z-index: 1;
  }


  .white p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F5F3E8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 1.5rem;
  }




}

@media screen and (max-width: 420px){

  header{
    display: flex;
    justify-content: space-between;
    height: 1100px;
  }



.h-banner {
 display: none;
}

  .h-banner-content img{
    height: 10px;
    margin:20px 0;
  }


  .slider {
    padding-top: 100px;
    width: 100vw;
  }
  .about-block {

    color: #595A63;
    margin: 70px auto;
    border: 1.5px solid #595A63;
    background-color: #fdfdfd;
    width: 80%;
    padding: 5% 0;

  }





  .about-content {
    margin: 0 auto;
    width: fit-content;
  }





  .about h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom:8px;

  }

  .about h3 {
    font-family: "YuGothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.9rem;
    font-style: bold;
    letter-spacing: 3%;
    padding: 10px 0;

  }

  .about p {
    font-family: "yu-gothic-pr6n", sans-serif;
    font-style: normal;
    font-size: 0.5rem;
    letter-spacing: 0.56px;
    line-height: 20px;
    padding-bottom: 5px;

  }

  .article-title {
    display: flex;
    flex-flow: column;
    align-items: end;
    position: absolute;
    left: 15%;
    bottom: 80px;

  }
  h4 {
    width: 200px;
    text-align: center;
    font-family: "YuGothic";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 5px;
    background-color: #fdfdfd;
    border: 2px solid #595A63;
    border-radius: 15px 15px 0 15px;
  }

  h5 {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13.5px;
    letter-spacing: 0.66px;
    background-color: #fdfdfd;
    border-bottom: 1.5px solid #595A63;
    border-right: 1.5px solid #595A63;
    border-left: 1.5px solid #595A63;
    border-radius: 0 0 12px 12px;
    text-align: center;
    width: 80px;
    line-height: 30px;
  }

  
}

